body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

.container {
    background-color: #000;
    margin: 0 auto;
    padding-top: 100px;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 100px;
}

.exercise {
    background-color: #000;
    border-left: 5px solid #5b9bd5;
    padding: 10px;
    margin-top: 20px;
}
code {
    background-color: #000;
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 3px;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 200px;
    background-color: #fff;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #306998;
    font-weight: bold;
    padding: 14px 10px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

nav a:hover {
    background-color: #AAAAAA;
}

header {
    display: none;
    order: -1;
    padding-top: 15px;
    padding-bottom: 5px;
    background-color: #fff;
}

#logo {
    max-height: 50px;
}

#top-logo {
    max-height: 50px;
    display: block;
    margin: 0 auto;
}

.hamburger-menu {
    width: 45px;
    height: 45px;
    text-align: center;
    display: none;
    cursor: pointer;
    font-size: 30px;
    background-color: #306998;
    border-radius: 5px;
}

.content {
    display: flex;
    padding: 20px;
}

.content-center {
    text-align: center;
}

.left-content {
    flex: 1;
}

.right-content {
    flex: 1;
    text-align: center;
    padding-left: 100px;
}

.right-content img {
    max-width: 100%;
}

button {
    background-color: #306998;
    color: #fff;
    padding: 20px 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    animation: shake 0.5s ease infinite;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-5px);
    }
}

h1,
h2,
h3 {
    color: #306998;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30%;
    padding-right: 30%;
}

input[type='text'],
input[type='email'],
input[type='date'],
textarea {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
}

.radio-group,
.checkbox-group {
    width: 90%;
    text-align: left;
    margin: 10px 0;
}

input[type='submit'] {
    width: 50%;
    padding: 10px;
    border: none;
    background-color: #5b9bd5;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}

input[type='submit']:hover {
    background-color: #3a7ca5;
}

footer {
    border-top: 1px solid #ffffff;
    text-align: center;
    padding: 40px 0px 40px 0px;
}

.html-validator {
    width: 75px;
    height: 75px;
    bottom: 10px;
    right: 10px;
}

.quiz-wrapper {
    margin: 0 auto;
    max-width: 570px;
    width: 100%;
    background: white;
    padding: 40px;
}

.about-section {
    text-align: center;
    margin-bottom: 40px;
}

.team-members {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.team-member {
    max-width: 200px;
    text-align: center;
    margin: 20px;
}

.team-member img {
    max-width: 100%;
    border-radius: 50%;
}

.slideshow-container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mySlides {
    display: none;
}

.caption {
    text-align: center;
    margin-top: 10px;
}

.caption2 {
    margin-top: 10px;
}

.quiz-container {
    max-width: 600px;
    margin: auto;
}

.question {
    margin-bottom: 20px;
}

#quiz-results {
    margin-top: 20px;
    font-weight: bold;
    color: green;
}

* {
    box-sizing: border-box;
}

#comment-section {
    border-radius: 5px;
    max-width: 800px; /* Adjust as needed */
    margin: auto;
}

#comment-input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#submit-comment {
    background-color: #5cb85c;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit-comment:hover {
    background-color: #4cae4c;
}

#comments {
    margin-top: 20px;
}

.comment {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    min-width:100%;
    text-align:left;
}

#name-input {
    width: 100%;
    padding: 10px;
    margin-top: 100px;
    border-radius:5px;
    border: 1px solid #ddd;
}

@media screen and (max-width: 1250px) {

    header {
        display: flex;

    }

    .container {
        padding-top: 50px;
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 75px;
    }

    #logo {
        display: none;
    }

    nav {
        justify-content: center;
    }

    form {
        padding-left: 10%;
        padding-right: 10%;
    }

}

@media screen and (max-width: 900px) {

    header {
        display: none;

    }

    #logo {
        display: flex;
    }

    .container {
        padding-top: 25px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
    }

    nav {
        padding: 15px 50px;
        justify-content: space-between;
    }

    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        width: 100%;
        background-color: #fff;
    }

    nav ul.show {
        display: flex;
    }

    nav ul li {
        text-align: center;
        padding: 10px;
    }

    nav a {
        padding: 10px 200px;
    }

    .hamburger-menu {
        display: block;

    }

    .right-content {
        display: none;
    }

    form {
        padding-left: 5%;
        padding-right: 5%;
    }
}
